{% block content %}
  <section class="showcase">
        <div class="container">
          <h1>
            {{blog_info_name}}
          </h1>
          <p>
            {{blog_info_name}}
          </p>
          <div class="dummy-btn-container">
            <a  class="btn btn-primary btn-lg">
              {{blog_info_name}}  
            </a>
          </div>    
        </div>
  </section>
{% endblock %}